
.titleGame{
    font-size: 2em;
    padding-top: 15%;
    text-align: center;
}

.descriptionGame{
    margin: 0.5em;

    margin-top: 10%;
    text-align: justify;

}

.numPlayer, .playTime{
    text-align: end;
    margin: 0.5em;
}

.descriptionGame, .titleGame, .numPlayer, .playTime{
    font-family: var(--fontFamilySecondary);
    color: var(--colorThird);
}

.gameOfThrones{
    height: var(--heightMain);    
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/gotboard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btnPlay{
    font-size: calc(var(--fontSize)/2);
    background-image: url("../../assets/shield-removebg-preview.png");
    background-size: 20vh;
    background-repeat: no-repeat;
    height: 20vh;
    width: auto;
    border: none;
    background-color: transparent;

}

.swordShield{
    margin-top: 10%;
    display: flex;
    /* justify-content: center; */
}

.wannaPlay{
    font-family: var(--fontFamily);
    color: var(--colorThird);
}

