@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Teko:wght@500&display=swap');


.navbar{
    display: flex;
    justify-content: space-between;
}

.homeText{
    font-size: 1.5em;
    font-family: 'Teko', sans-serif;
    color:antiquewhite;
    margin-right: 0.2em;

}

.logo{
    background-image: url(../../assets/logoMinis&Bros.svg);
    background-repeat: no-repeat;
    height: 5vh;
    width: 50%;

    
}