@use "../../App";

.hidden {
  visibility: hidden;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.clickPlus,
.clickMinus {
  border: none;
  font-size: App.$fontSize;
  color: App.$colorText;
}

.player {
  display: flex;
  flex-direction: column;
  height: App.$heightPlayerCounter;
  margin-top: 1%;
  margin-left: App.$smallGap;
  margin-right: App.$smallGap;
  position: relative;
  border-radius: 1em;
}

.playerNameFinal {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.playerName {
  font-family: App.$fontFamilyThird;
  font-size: calc(App.$fontSize / 1.5);
  color: App.$colorText;
  align-items: center;
  display: flex;
  justify-content: center;
}

.formPlayer {
  padding-top: 5%;
}

.score {
  font-family: App.$fontFamilyThird;
  color: App.$colorText;
  font-size: App.$fontSize;
}

//

.inputName {
  position: absolute;
  left: 25%;
  width: 50%;
  border: 1px solid App.$colorText;
  font-family: App.$fontFamilyThird;
  color: App.$colorText;
  font-size: calc(App.$fontSize / 1.5);
  text-align: center;
}

.clickButton {
  position: absolute;
  right: 5%;
  top: calc(App.$heightMain - 98vh);
  border: none;
  font-size: App.$fontSize;
  color: App.$colorText;
}

.editButton {
  display: none;
  position: absolute;
  border: none;
  color: App.$colorText;
  font-size: 1em;
  top: 0;
  right: 0;
  padding: 0.5em;
  border-radius: 1em;
}

@media only screen and (min-device-width : 481px) and (max-device-width : 800px) and (orientation:landscape){
  .player{
    width: 50%;
    height: 40vh;
  }
}
