@use "../../App.scss";

.buttonNP {
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  color: App.$colorText;
  font-size: 2em;
  border: none;
  background-color: App.$colorBackground;
}

@media only screen and (min-device-width : 481px) and (max-device-width : 800px) and (orientation:landscape){
  .blockNP{
    display: flex;
    margin-top: 20%;
  }
  .buttonNP{
    position: absolute;
  }

}
