@import url("https://fonts.googleapis.com/css2?family=Forum&family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$colorBackground: /* #5aa3b. */ #312240;
$colorSecondary:/* #6b0505 */ #0d0d0d;
$colorThird: /*#d2820b*/ #f26a1b;
$colorText: #ccbbf2;
$colorHMPl: #262626;
$heightMain: 100vh;
$heightPlayerCounter: 20vh;
$heightGameCard: 20vh;
$heightHeader: 2vh;
$fontFamily: "Modak", cursive;
$fontFamilySecondary: "Forum", cursive;
$fontFamilyThird: "Righteous", cursive;
$fontSize: 2rem;
$smallGap: 0.5em;

:root {
  height: $heightMain;
}

.Home {
  background-color: $colorBackground;
  /* height: var(--heightMain); */
}

.Standard {
  background-color: $colorBackground;
}
