@import url("https://fonts.googleapis.com/css2?family=Forum&family=Modak&display=swap");

$colorBackground: #5aa3bf;
$colorSecondary: #6b0505;
$colorThird: #d2820b;
$colorHMPl: #262626;
$heightMain: 100vh;
$heightHeader: 2vh;
$fontFamily: "Modak", cursive;
$fontFamilySecondary: "Forum", cursive;
$fontSize: 2rem;

:root {
  height: $heightMain;
}

.Home {
  background-color: $colorBackground;
  /* height: var(--heightMain); */
}

.Standard {
  background-color: $colorBackground;
  // height: var(--heightMain);
}

.gameofThrones {
  // height: var(--heightMain);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../src/assets/gotboard.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
