@import url("https://fonts.googleapis.com/css2?family=Forum&family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$colorBackground: /* #5aa3b. */ #31223b;
$colorSecondary:/* #6b0505 */ #0d0d0d;
$colorThird: /*#d2820b*/ #f26a1b;
$colorText: #ccbbf2;
$colorHMPl: #262626;
$heightMain: 100vh;
$heightPlayerCounter: 18vh;
$heightHeader: 2vh;
$fontFamily: "Modak", cursive;
$fontFamilySecondary: "Forum", cursive;
$fontFamilyThird: "Righteous", cursive;
$fontSize: 2rem;
$smallGap: 0.5em;

:root {
  height: $heightMain;
}

.Home {
  background-color: $colorBackground;
  /* height: var(--heightMain); */
}

.Standard {
  background-color: $colorBackground;
  // height: var(--heightMain);
}

// .gameofThrones {
//   // height: var(--heightMain);
//   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
//     url("../src/assets/gotboard.jpeg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }
