@import url('https://fonts.googleapis.com/css2?family=Forum&family=Modak&display=swap');
:root{
    --colorBackground: #5AA3BF;
    --colorSecondary: #6B0505;
    --colorThird: #D2820B;
    --heightMain: 98vh;
    --heightHeader:2vh;
    --fontFamily: 'Modak', cursive;
    --fontFamilySecondary:  'Forum', cursive;
    --fontSize: 2rem;
}




body{
    background-color: var(--colorBackground);
}

